body{
    color: #fff;
    background-color: #3b3a3a;
  }

  .container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:80%;
  }

  iframe{
    margin: auto;
    justify-content: center;
    width: 80%;
    height: 94vh;
  }

  @media (max-width: 360px) {
    .container{
      height: 300px;
      width: 10%;
    }
  }
